@charset "UTF-8";
/*██████████ GLOBAL ██████████*/
/*░░░░░ NORMALIZE ░░░░░*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*░░░░░ CLEARFIX ░░░░░*/
.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

/*░░░░░ LAYOUT ░░░░░*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

img {
  max-width: 100%; }

ul {
  list-style: none; }

/*░░░░░ COLOURS ░░░░░*/
.linkedIn {
  background: #00649b; }

.facebook {
  background: #507cbe; }

.twitter {
  background: #00abef; }

.flickr {
  background: #ff0084; }

.dribbble {
  background: #f76799; }

.pinterest {
  background: #ce1f20; }

.googleplus {
  background: #cb4437; }

/*░░░░░ TYPOGRAPHY ░░░░░*/
body {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #343434;
  background-color: #343434; }

p {
  line-height: 1.5;
  font-size: 20px; }

.description {
  max-width: 570px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  margin-bottom: 80px; }
  .description:after {
    content: "";
    position: absolute;
    width: 170px;
    left: calc(50% - 85px);
    bottom: -30px; }

h1, h2 {
  text-transform: uppercase; }

h1 {
  font-size: 80px;
  font-weight: 300;
  color: #ffffff;
  line-height: 65px;
  margin-bottom: 30px; }

h1 span {
  font-weight: 700;
  color: #343434; }

h2 {
  font-size: 60px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px; }

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px; }

h4 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff; }

h5 {
  font-size: 60px;
  line-height: 55px;
  font-weight: 700;
  margin-bottom: 20px; }

h6 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #343434; }

/*░░░░░ LINKS ░░░░░*/
a.button:hover {
  background: #ffffff; }

a {
  color: #ffffff;
  text-decoration: none; }
  a.active {
    color: #ff6f6f; }
  a:hover {
    color: #ff6f6f; }
  a.button {
    border: solid 4px #ffffff;
    color: #343434;
    padding: 20px 20px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block; }

.socialIcon {
  color: #FFF;
  width: 30px;
  line-height: 30px;
  margin-right: 10px;
  display: block; }
  .socialIcon:last-child {
    margin-right: 0px; }
  .socialIcon:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: #ffffff; }

.threeSocial {
  padding: 30px 0; }
  .threeSocial ul {
    max-width: 110px;
    margin: 0 auto; }
    .threeSocial ul li {
      float: left;
      margin-right: 10px; }
      .threeSocial ul li:last-child {
        margin-right: 0; }

/*██████████ HEADER ██████████*/
header {
  margin-bottom: 25px;
  background: -webkit-gradient(linear, left top, right top, from(#fbcf61), color-stop(50%, #fbcf61), color-stop(50%, #f3c95e), to(#f3c95e));
  background: -webkit-linear-gradient(left, #fbcf61 0%, #fbcf61 50%, #f3c95e 50%, #f3c95e 100%);
  background: -o-linear-gradient(left, #fbcf61 0%, #fbcf61 50%, #f3c95e 50%, #f3c95e 100%);
  background: linear-gradient(90deg, #fbcf61 0%, #fbcf61 50%, #f3c95e 50%, #f3c95e 100%); }

/*░░░░░ HEADER NAV ░░░░░*/
.mainNav {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #fafafa), to(#fafafa));
  background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 50%, #fafafa 50%, #fafafa 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #ffffff 50%, #fafafa 50%, #fafafa 100%);
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #fafafa 50%, #fafafa 100%); }
  .mainNav img {
    padding: 30px 0 18px 0;
    float: left; }
  .mainNav nav {
    float: right;
    padding-top: 40px; }
    .mainNav nav ul {
      font-size: 13px; }
      .mainNav nav ul li {
        float: left;
        padding-right: 40px;
        padding-left: 40px;
        border-right: solid 1px #e8e8e8; }
        .mainNav nav ul li:first-child {
          padding-left: 0px; }
        .mainNav nav ul li:last-child {
          padding-right: 0px;
          border: none; }
        .mainNav nav ul li a {
          color: #343434; }
          .mainNav nav ul li a.active {
            color: #ff6f6f; }
          .mainNav nav ul li a:hover {
            color: #ff6f6f !important; }

/*░░░░░ HEADER SLIDER ░░░░░*/
.mainHeader .slide {
  position: relative;
  height: 800px; }

.mainHeader .slide1 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .mainHeader .slide1 .headerIntro {
    max-width: 500px; }
    .mainHeader .slide1 .headerIntro p {
      margin-bottom: 50px; }
  .mainHeader .slide1 .triangle {
    position: absolute;
    bottom: 0px;
    width: 100%; }
    .mainHeader .slide1 .triangle:after {
      content: "";
      position: absolute;
      left: calc(50% - 40px);
      display: inline-block;
      border-style: solid;
      border-width: 25px 0px 0 40px;
      border-color: #fbcf61 transparent transparent transparent; }
    .mainHeader .slide1 .triangle:before {
      content: "";
      position: absolute;
      right: calc(50% - 40px);
      display: inline-block;
      border-style: solid;
      border-width: 25px 40px 0 0px;
      border-color: #f3c95e transparent transparent transparent; }

.about {
  color: #989898;
  padding-top: 75px;
  padding-bottom: 100px; }
  .about .description:after {
    border-bottom: 1px solid #494949; }
  .about .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .about .flex .aboutDetails {
      background: #3e3e3e;
      border-bottom: solid 10px #fbcf61;
      max-width: 370px;
      margin-right: 30px;
      padding: 50px 40px; }
      .about .flex .aboutDetails img {
        margin: 0 auto;
        display: block;
        margin-bottom: 30px; }
      .about .flex .aboutDetails p {
        font-size: 16px;
        text-align: center; }
      .about .flex .aboutDetails:nth-last-of-type(2) {
        border-bottom: solid 10px #ff6f6f; }
      .about .flex .aboutDetails:nth-of-type(3) {
        border-bottom: solid 10px #a8d164;
        margin-right: 0px; }

.skills {
  background: #242424;
  color: #989898;
  padding: 100px 0 95px; }
  .skills .description:after {
    border-bottom: 1px solid #3a3a3a; }
  .skills .skillSet {
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .skills .skillSet div {
      max-width: 270px;
      margin-right: 30px; }
      .skills .skillSet div img {
        margin-bottom: 30px; }
      .skills .skillSet div p {
        font-size: 16px;
        font-weight: 300; }
      .skills .skillSet div:last-of-type {
        margin-right: 0; }

.quote {
  background: -webkit-gradient(linear, left top, right top, from(#ff6f6f), color-stop(50%, #ff6f6f), color-stop(50%, #f76c6c), to(#f76c6c));
  background: -webkit-linear-gradient(left, #ff6f6f 0%, #ff6f6f 50%, #f76c6c 50%, #f76c6c 100%);
  background: -o-linear-gradient(left, #ff6f6f 0%, #ff6f6f 50%, #f76c6c 50%, #f76c6c 100%);
  background: linear-gradient(90deg, #ff6f6f 0%, #ff6f6f 50%, #f76c6c 50%, #f76c6c 100%);
  position: relative;
  padding: 90px 0; }
  .quote .quoteContain {
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
    position: relative; }
    .quote .quoteContain p {
      color: #ffffff;
      font-size: 40px;
      line-height: 55px; }
    .quote .quoteContain:after {
      content: "”";
      position: absolute;
      font-size: 140px;
      color: #ffffff;
      font-weight: 700;
      top: -45px;
      right: -100px; }
    .quote .quoteContain:before {
      content: "“";
      position: absolute;
      font-size: 140px;
      color: #ffffff;
      font-weight: 700;
      top: -45px;
      left: -100px; }
  .quote .triangle {
    position: absolute;
    bottom: 0px;
    width: 100%; }
    .quote .triangle:after {
      content: "";
      position: absolute;
      left: calc(50% - 40px);
      display: inline-block;
      border-style: solid;
      border-width: 25px 0px 0 40px;
      border-color: #ff6f6f transparent transparent transparent; }
    .quote .triangle:before {
      content: "";
      position: absolute;
      right: calc(50% - 40px);
      display: inline-block;
      border-style: solid;
      border-width: 25px 40px 0 0px;
      border-color: #f76c6c transparent transparent transparent; }

.latestProject {
  padding-top: 75px;
  color: #989898; }
  .latestProject .description:after {
    border-bottom: 1px solid #494949; }
  .latestProject img {
    display: block;
    margin: 0 auto; }

.team {
  background: #242424;
  color: #989898;
  padding: 100px 0 95px;
  text-align: center; }
  .team .description:after {
    border-bottom: 1px solid #494949; }
  .team .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .team .flex .teamMember {
      max-width: 270px;
      margin-right: 30px;
      background: #2f2f2f;
      border-bottom: solid 5px #ff6f6f; }
      .team .flex .teamMember:last-child {
        margin-right: 0; }

.stats {
  background: -webkit-gradient(linear, left top, right top, from(#a8d164), color-stop(50%, #a8d164), color-stop(50%, #a3ca61), to(#a3ca61));
  background: -webkit-linear-gradient(left, #a8d164 0%, #a8d164 50%, #a3ca61 50%, #a3ca61 100%);
  background: -o-linear-gradient(left, #a8d164 0%, #a8d164 50%, #a3ca61 50%, #a3ca61 100%);
  background: linear-gradient(90deg, #a8d164 0%, #a8d164 50%, #a3ca61 50%, #a3ca61 100%);
  padding: 100px 0;
  position: relative;
  display: none; }
  .stats .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .stats .flex .stat {
      max-width: 270px;
      width: 100%;
      margin-right: 30px;
      text-align: center; }
      .stats .flex .stat .statValue {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-size: 60px;
        line-height: 55px;
        font-weight: 700;
        margin: 20px 0; }
      .stats .flex .stat .button {
        border: solid 4px #ffffff;
        color: #343434;
        padding: 20px 20px;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        display: inline-block;
        padding-left: 30px;
        padding-right: 30px; }
      .stats .flex .stat:last-of-type {
        margin-right: 0; }
  .stats .triangle {
    position: absolute;
    bottom: 0px;
    width: 100%; }
    .stats .triangle:after {
      content: "";
      position: absolute;
      left: calc(50% - 40px);
      display: inline-block;
      border-style: solid;
      border-width: 25px 0px 0 40px;
      border-color: #a8d164 transparent transparent transparent; }
    .stats .triangle:before {
      content: "";
      position: absolute;
      right: calc(50% - 40px);
      display: inline-block;
      border-style: solid;
      border-width: 25px 40px 0 0px;
      border-color: #a3ca61 transparent transparent transparent; }

.portfolio {
  padding-top: 75px;
  padding-bottom: 100px;
  color: #989898;
  text-align: center; }
  .portfolio .description:after {
    border-bottom: 1px solid #494949; }
  .portfolio .portfolioNav {
    width: 100%;
    text-align: center;
    margin-bottom: 50px; }
    .portfolio .portfolioNav ul {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700; }
      .portfolio .portfolioNav ul li {
        display: inline-block;
        padding-right: 40px; }
        .portfolio .portfolioNav ul li:last-child {
          padding: 0; }
  .portfolio .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px; }
    .portfolio .flex .portfolioPiece {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      background: #ffffff;
      width: 25%; }
      .portfolio .flex .portfolioPiece .portfolioDesc {
        font-weight: 700;
        font-size: 12px;
        color: #343434;
        text-transform: uppercase;
        padding: 25px 0; }
  .portfolio .button {
    width: 170px;
    color: #ffffff;
    text-align: center; }
    .portfolio .button:hover {
      color: #343434; }

.blog {
  background: #242424;
  color: #989898;
  padding: 100px 0;
  text-align: center; }
  .blog .description:after {
    border-bottom: 1px solid #494949; }
  .blog .blogRoll {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    grid-template-areas: "post1 post2" "post1 post3";
    grid-gap: 30px; }
    .blog .blogRoll .blogPost {
      background: #343434; }
      .blog .blogRoll .blogPost .blogPostDesc {
        padding: 0 30px; }
        .blog .blogRoll .blogPost .blogPostDesc h4 {
          margin-top: 30px; }
        .blog .blogRoll .blogPost .blogPostDesc .blogTimeStamp {
          text-transform: uppercase;
          font-family: "Open Sans", Helvetica, Arial, sans-serif;
          font-weight: 700;
          font-size: 12px;
          line-height: 24px;
          color: #ffffff; }
        .blog .blogRoll .blogPost .blogPostDesc .blogPostSummary {
          font-size: 16px; }
        .blog .blogRoll .blogPost .blogPostDesc .threeSocial {
          padding-bottom: 0; }
      .blog .blogRoll .blogPost:first-child {
        -webkit-box-flex: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
        grid-area: post1;
        border-bottom: solid 10px #fbcf61; }
      .blog .blogRoll .blogPost:nth-child(2) {
        border-right: solid 10px #ff6f6f;
        margin-right: 0;
        grid-area: post2; }
        .blog .blogRoll .blogPost:nth-child(2) img {
          float: left;
          width: 50%;
          margin-bottom: 0; }
        .blog .blogRoll .blogPost:nth-child(2) .blogPostDesc {
          float: right;
          width: 50%; }
      .blog .blogRoll .blogPost:last-child {
        border-right: solid 10px #a8d164;
        margin-right: 0;
        grid-area: post3; }
        .blog .blogRoll .blogPost:last-child img {
          float: left;
          width: 50%;
          margin-bottom: 0; }
        .blog .blogRoll .blogPost:last-child .blogPostDesc {
          float: right;
          width: 50%; }
  .blog .button {
    color: #ffffff;
    max-width: 170px;
    width: 100%; }

.contact {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#fbcf61), color-stop(50%, #fbcf61), color-stop(50%, #f3c95e), to(#f3c95e));
  background: -webkit-linear-gradient(left, #fbcf61 0%, #fbcf61 50%, #f3c95e 50%, #f3c95e 100%);
  background: -o-linear-gradient(left, #fbcf61 0%, #fbcf61 50%, #f3c95e 50%, #f3c95e 100%);
  background: linear-gradient(90deg, #fbcf61 0%, #fbcf61 50%, #f3c95e 50%, #f3c95e 100%);
  text-align: center; }
  .contact .contactInfo {
    padding: 100px 0;
    position: relative; }
    .contact .contactInfo a {
      color: #242424;
      font-weight: 700;
      display: block; }
      .contact .contactInfo a:first-of-type {
        color: #ffffff;
        font-size: 40px;
        line-height: 55px; }
      .contact .contactInfo a:nth-of-type(2) {
        font-size: 80px;
        border: solid 5px #ffffff;
        color: #242424;
        padding: 5px 60px;
        margin: 30px 0;
        display: inline-block; }
      .contact .contactInfo a:last-of-type {
        font-size: 30px;
        font-weight: 300; }
    .contact .contactInfo .triangle {
      position: absolute;
      bottom: 0px;
      width: 100%; }
      .contact .contactInfo .triangle:after {
        content: "";
        position: absolute;
        left: calc(50% - 40px);
        display: inline-block;
        border-style: solid;
        border-width: 25px 0px 0 40px;
        border-color: #fbcf61 transparent transparent transparent; }
      .contact .contactInfo .triangle:before {
        content: "";
        position: absolute;
        right: calc(50% - 40px);
        display: inline-block;
        border-style: solid;
        border-width: 25px 40px 0 0px;
        border-color: #f3c95e transparent transparent transparent; }
  .contact .contactMap {
    height: 580px;
    background-color: #FFF; }
    .contact .contactMap iframe {
      width: 100%;
      height: 100%;
      border: none; }

.directContact {
  background: #242424;
  color: #989898;
  padding: 80px 0; }
  .directContact .description:after {
    border-bottom: 1px solid #3a3a3a; }
  .directContact .directContactSocial {
    text-align: center;
    margin-bottom: 40px; }
    .directContact .directContactSocial ul li {
      display: inline-block;
      margin-right: 5px; }
      .directContact .directContactSocial ul li:last-of-type {
        margin-right: 0px; }
  .directContact .directContactForm {
    width: 53.8%;
    max-width: 630px;
    margin: 0 auto; }
    .directContact .directContactForm input[type="text"], .directContact .directContactForm input[type="email"], .directContact .directContactForm textarea {
      width: 100%;
      background: #2f2f2f;
      border: none;
      margin-bottom: 10px;
      color: #989898;
      padding: 20px; }
      .directContact .directContactForm input[type="text"]::-webkit-input-placeholder, .directContact .directContactForm input[type="email"]::-webkit-input-placeholder, .directContact .directContactForm textarea::-webkit-input-placeholder {
        text-align: center; }
      .directContact .directContactForm input[type="text"]:-ms-input-placeholder, .directContact .directContactForm input[type="email"]:-ms-input-placeholder, .directContact .directContactForm textarea:-ms-input-placeholder {
        text-align: center; }
      .directContact .directContactForm input[type="text"]::-ms-input-placeholder, .directContact .directContactForm input[type="email"]::-ms-input-placeholder, .directContact .directContactForm textarea::-ms-input-placeholder {
        text-align: center; }
      .directContact .directContactForm input[type="text"]::placeholder, .directContact .directContactForm input[type="email"]::placeholder, .directContact .directContactForm textarea::placeholder {
        text-align: center; }
      .directContact .directContactForm input[type="text"]:focus, .directContact .directContactForm input[type="email"]:focus, .directContact .directContactForm textarea:focus {
        background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #fafafa), to(#fafafa));
        background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 50%, #fafafa 50%, #fafafa 100%);
        background: -o-linear-gradient(left, #ffffff 0%, #ffffff 50%, #fafafa 50%, #fafafa 100%);
        background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #fafafa 50%, #fafafa 100%);
        color: #2f2f2f; }
      .directContact .directContactForm input[type="text"]:invalid, .directContact .directContactForm input[type="email"]:invalid, .directContact .directContactForm textarea:invalid {
        background: -webkit-gradient(linear, left top, right top, from(#ff6f6f), color-stop(50%, #ff6f6f), color-stop(50%, #f76c6c), to(#f76c6c));
        background: -webkit-linear-gradient(left, #ff6f6f 0%, #ff6f6f 50%, #f76c6c 50%, #f76c6c 100%);
        background: -o-linear-gradient(left, #ff6f6f 0%, #ff6f6f 50%, #f76c6c 50%, #f76c6c 100%);
        background: linear-gradient(90deg, #ff6f6f 0%, #ff6f6f 50%, #f76c6c 50%, #f76c6c 100%);
        border: none; }
    .directContact .directContactForm input[type="submit"] {
      background: #242424;
      border: solid 4px #ffffff;
      color: #343434;
      padding: 20px 50px;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
      display: block;
      margin: 0 auto;
      color: #ffffff;
      margin-top: 30px; }
      .directContact .directContactForm input[type="submit"]:hover {
        background: #ffffff;
        color: #242424; }
    .directContact .directContactForm input {
      text-align: center; }
    .directContact .directContactForm textarea {
      resize: none;
      height: 200px; }

.widgets {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #fafafa), to(#fafafa));
  background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 50%, #fafafa 50%, #fafafa 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #ffffff 50%, #fafafa 50%, #fafafa 100%);
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #fafafa 50%, #fafafa 100%);
  padding-bottom: 95px;
  padding-top: 95px; }
  .widgets .widget {
    width: calc(25% - 30px);
    margin-right: 30px;
    float: left; }
    .widgets .widget:last-of-type {
      margin-right: 0px; }
    .widgets .widget p {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #989898; }
  .widgets .widgetPosts div {
    margin-bottom: 30px; }
    .widgets .widgetPosts div p:first-of-type {
      color: #242424; }
    .widgets .widgetPosts div img {
      float: left;
      margin-right: 20px; }
  .widgets .widgetNewsletter form {
    margin-top: 15px; }
    .widgets .widgetNewsletter form input {
      height: 60px;
      display: inline-block;
      font-size: 12px; }
    .widgets .widgetNewsletter form input[type=email] {
      border: none;
      background: #ededed;
      margin-right: 10px;
      width: calc(70% - 5px);
      padding: 0 15px;
      border: solid 4px #ededed; }
      .widgets .widgetNewsletter form input[type=email]:invalid {
        background: -webkit-gradient(linear, left top, right top, from(#ff6f6f), color-stop(50%, #ff6f6f), color-stop(50%, #f76c6c), to(#f76c6c));
        background: -webkit-linear-gradient(left, #ff6f6f 0%, #ff6f6f 50%, #f76c6c 50%, #f76c6c 100%);
        background: -o-linear-gradient(left, #ff6f6f 0%, #ff6f6f 50%, #f76c6c 50%, #f76c6c 100%);
        background: linear-gradient(90deg, #ff6f6f 0%, #ff6f6f 50%, #f76c6c 50%, #f76c6c 100%);
        outline: none;
        border: solid 4px #ff6f6f; }
    .widgets .widgetNewsletter form input[type=submit] {
      border: none;
      width: calc(26%);
      background: #ffffff;
      color: #ff6f6f;
      border: solid #ff6f6f 4px;
      text-transform: uppercase;
      font-weight: 700; }

footer {
  padding: 50px; }
  footer p {
    text-align: center;
    font-size: 12px;
    color: #989898; }
