@charset "UTF-8";
/*██████████ GLOBAL ██████████*/
/*░░░░░ NORMALIZE ░░░░░*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*░░░░░ CLEARFIX ░░░░░*/
.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

/*░░░░░ BORDER-BOX ░░░░░*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #343434;
  background-color: #343434; }

p {
  line-height: 1.5;
  font-size: 20px; }

h1, h2, h4, h5, h6 {
  text-transform: uppercase; }

h1 {
  font-size: 80px;
  font-weight: 300;
  color: #ffffff;
  line-height: 65px;
  margin-bottom: 30px; }

h1 span {
  font-weight: 700;
  color: #343434; }

h2 {
  font-size: 60px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px; }

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px; }

header {
  margin-bottom: 25px;
  background: -webkit-gradient(linear, left top, right top, from(#fbcf61), color-stop(50%, #fbcf61), color-stop(50%, #f3c95e), to(#f3c95e));
  background: -webkit-linear-gradient(left, #fbcf61 0%, #fbcf61 50%, #f3c95e 50%, #f3c95e 100%);
  background: -o-linear-gradient(left, #fbcf61 0%, #fbcf61 50%, #f3c95e 50%, #f3c95e 100%);
  background: linear-gradient(90deg, #fbcf61 0%, #fbcf61 50%, #f3c95e 50%, #f3c95e 100%); }

/*░░░░░ HEADER NAV ░░░░░*/
.mainNav {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #fafafa), to(#fafafa));
  background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 50%, #fafafa 50%, #fafafa 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #ffffff 50%, #fafafa 50%, #fafafa 100%);
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #fafafa 50%, #fafafa 100%); }
  .mainNav img {
    padding: 30px 0 18px 0;
    float: left; }
  .mainNav nav {
    float: right;
    padding-top: 40px; }
    .mainNav nav ul {
      list-style: none;
      font-size: 13px; }
      .mainNav nav ul li {
        float: left;
        padding-right: 40px;
        padding-left: 40px;
        border-right: solid 1px #e8e8e8; }
        .mainNav nav ul li:first-child {
          padding-left: 0px; }
        .mainNav nav ul li:last-child {
          padding-right: 0px;
          border: none; }
        .mainNav nav ul li a {
          color: #343434; }
          .mainNav nav ul li a.active {
            color: #ff6f6f; }
          .mainNav nav ul li a:hover {
            color: #ff6f6f !important; }

/*░░░░░ HEADER SLIDER ░░░░░*/
.mainHeader .slide {
  position: relative;
  height: 800px; }

.mainHeader .slide1 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .mainHeader .slide1 .headerIntro {
    max-width: 500px; }
    .mainHeader .slide1 .headerIntro p {
      margin-bottom: 50px; }
  .mainHeader .slide1 img {
    overflow: hidden;
    width: 100%; }
  .mainHeader .slide1 .triangle {
    position: absolute;
    bottom: 0px;
    width: 100%; }
    .mainHeader .slide1 .triangle:after {
      content: "";
      position: absolute;
      left: calc(50% - 40px);
      display: inline-block;
      border-style: solid;
      border-width: 25px 0px 0 40px;
      border-color: #fbcf61 transparent transparent transparent; }
    .mainHeader .slide1 .triangle:before {
      content: "";
      position: absolute;
      right: calc(50% - 40px);
      display: inline-block;
      border-style: solid;
      border-width: 25px 40px 0 0px;
      border-color: #f3c95e transparent transparent transparent; }

/*░░░░░ LINKS ░░░░░*/
a {
  color: #ffffff;
  text-decoration: none; }
  a.active {
    color: #ff6f6f; }
  a.button {
    border: solid 4px #ffffff;
    color: #343434;
    padding: 20px 20px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block; }
    a.button:hover {
      background: #ffffff; }

/*██████████ LAYOUT ██████████*/
.wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

* {
  margin: 0 0; }

.about {
  color: #989898;
  padding-top: 75px;
  padding-bottom: 100px; }
  .about > p {
    max-width: 570px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-bottom: 80px; }
    .about > p:after {
      content: "";
      position: absolute;
      width: 170px;
      border-bottom: 1px solid #989898;
      left: calc(50% - 85px);
      bottom: -30px; }
  .about .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .about .flex .aboutDetails {
      background: #3e3e3e;
      border-bottom: solid 10px #fbcf61;
      width: 31.6%;
      padding: 50px 40px; }
      .about .flex .aboutDetails img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
        margin-bottom: 30px; }
      .about .flex .aboutDetails p {
        font-size: 16px;
        text-align: center; }
      .about .flex .aboutDetails:nth-last-of-type(2) {
        border-bottom: solid 10px #ff6f6f; }
      .about .flex .aboutDetails:nth-of-type(3) {
        border-bottom: solid 10px #a8d164; }

.skills {
  background: #242424;
  color: #989898; }
  .skills div > p:after {
    include: underlineParagraph; }
