/*██████████ GLOBAL ██████████*/
@import "setup";
@import "colours";
@import "utils"; //empty
@import "typography";

@import "components/footer"; //empty

//██████████ STYLE GUIDE ██████████//


/*░░░░░ LINKS ░░░░░*/
@mixin button {
    border: solid 4px $white;
    color: $lightGrey;
    padding: 20px 20px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    &:hover {
        background: $white
    }
}
a {
    color: $white;
    text-decoration: none;
    &.active {
        color: $red;
    }
    &.button {
        @include button;
    }
}

/*██████████ LAYOUT ██████████*/
.wrapper {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 30px;
}
.flex {
    display: flex;
}
* {
    margin: 0 0;
}
/*██████████ HEADER ██████████*/
@import "components/header";
//██████████ ABOUT ██████████//
.about {
    color: $fontLight;
    padding-top: 75px;
    padding-bottom: 100px;
    .description {
        &:after {
            border-bottom: 1px solid #494949;
        }
    }
    .flex {
        flex-flow: row;
        justify-content: space-between;
        .aboutDetails {
            background: $lightGrey2;
            border-bottom: solid 10px $yellow;
            max-width: 370px;
            margin-right: 30px;
            padding: 50px 40px;
            img {
                margin: 0 auto;
                display: block;
                max-width: 100%;
                margin-bottom: 30px;
            }
            p {
                font-size: 16px;
                text-align: center;
            }
            &:nth-last-of-type(2){
                border-bottom: solid 10px $red;
            }
            &:nth-of-type(3){
                border-bottom: solid 10px $green;
                margin-right: 0px;
            }
        }
    }
    
}
//██████████ SKILLS ██████████//
.skills {
    background: $darkGrey;
    color: $fontLight;
    padding: 100px 0 95px;
    .description {
        &:after {
            border-bottom: 1px solid #3a3a3a;
        }
    }
    .skillSet {
        text-align: center;
        flex-flow: row;
        justify-content: space-between;
        div {
            max-width: 270px;
            margin-right: 30px;
            img {
                margin-bottom: 30px;
            }
            p {
                font-size: 16px;
                font-weight: 300;
            }
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    
}
//██████████ “ QUOTE ” ██████████//
.quote {
    background: $gradientRed;
    position: relative;
    padding: 90px 0;
    .quoteContain {
        max-width: 570px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        p {
            color: $white;
            font-size: 40px;
            line-height: 55px;
        }
        &:after {
            content: "”";
            position: absolute;
            font-size: 140px;
            color: $white;
            font-weight: 700;
            top: -45px;
            right: -100px;
        }
        &:before {
            content: "“";
            position: absolute;
            font-size: 140px;
            color: $white;
            font-weight: 700;
            top: -45px;
            left: -100px;
        }
        
    }
    .triangle {
            position: absolute;
            bottom: 0px;
            width: 100%;
            &:after {
                @include triangleR;
                border-color: $red transparent transparent transparent;
            }
            &:before {
                @include triangleL;
                border-color: $red2 transparent transparent transparent;
            }
        }
}
//██████████ LATEST PROJECT ██████████//
.latestProject {
    padding-top: 75px;
    color: $fontLight;
    .description {
        &:after {
            border-bottom: 1px solid #494949;
        }
    }
    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
}