/*██████████ GLOBAL ██████████*/
@import "setup";
@import "colours";
@import "utils";
@import "typography";
@import "links";
@import "components/footer"; //empty

/*██████████ HEADER ██████████*/
@import "components/header";
//██████████ ABOUT ██████████//
.about {
    color: $fontLight;
    padding-top: 75px;
    padding-bottom: 100px;
    .description {
        &:after {
            border-bottom: 1px solid #494949;
        }
    }
    .flex {
        flex-flow: row;
        justify-content: space-between;
        .aboutDetails {
            background: $lightGrey2;
            border-bottom: solid 10px $yellow;
            max-width: 370px;
            margin-right: 30px;
            padding: 50px 40px;
            img {
                margin: 0 auto;
                display: block;
                margin-bottom: 30px;
            }
            p {
                font-size: 16px;
                text-align: center;
            }
            &:nth-last-of-type(2){
                border-bottom: solid 10px $red;
            }
            &:nth-of-type(3){
                border-bottom: solid 10px $green;
                margin-right: 0px;
            }
        }
    }
    
}
//██████████ SKILLS ██████████//
.skills {
    background: $darkGrey;
    color: $fontLight;
    padding: 100px 0 95px;
    .description {
        &:after {
            border-bottom: 1px solid #3a3a3a;
        }
    }
    .skillSet {
        text-align: center;
        flex-flow: row;
        justify-content: space-between;
        div {
            max-width: 270px;
            margin-right: 30px;
            img {
                margin-bottom: 30px;
            }
            p {
                font-size: 16px;
                font-weight: 300;
            }
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    
}
//██████████ “ QUOTE ” ██████████//
.quote {
    background: $gradientRed;
    position: relative;
    padding: 90px 0;
    .quoteContain {
        max-width: 570px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        p {
            color: $white;
            font-size: 40px;
            line-height: 55px;
        }
        &:after {
            content: "”";
            position: absolute;
            font-size: 140px;
            color: $white;
            font-weight: 700;
            top: -45px;
            right: -100px;
        }
        &:before {
            content: "“";
            position: absolute;
            font-size: 140px;
            color: $white;
            font-weight: 700;
            top: -45px;
            left: -100px;
        }
        
    }
    .triangle {
            position: absolute;
            bottom: 0px;
            width: 100%;
            &:after {
                @include triangleR;
                border-color: $red transparent transparent transparent;
            }
            &:before {
                @include triangleL;
                border-color: $red2 transparent transparent transparent;
            }
        }
}
//██████████ LATEST PROJECT ██████████//
.latestProject {
    padding-top: 75px;
    color: $fontLight;
    .description {
        &:after {
            border-bottom: 1px solid #494949;
        }
    }
    img {
        display: block;
        margin: 0 auto;
    }
}
//██████████ TEAM ██████████//
.team {
    background: $darkGrey;
    color: $fontLight;
    padding: 100px 0 95px;
    text-align: center;
    .description {
        &:after {
            border-bottom: 1px solid #494949;
        }
    }
    .flex {
        flex-flow: row;
        justify-content: space-between;
        .teamMember {
            max-width: 270px;
            margin-right: 30px;
            background: $darkGrey2;
            border-bottom: solid 5px $red;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
//██████████ STATS ██████████//
.stats {
    background: $gradientGreen;
    padding: 100px 0;
    position: relative;
    display: none;
    .flex {
        flex-flow: row;
        justify-content: space-between;
    .stat {
        max-width: 270px;
        width: 100%;
        margin-right: 30px;
        text-align: center;
        .statValue {
            font-family: $openSans;
            font-size: 60px;
            line-height: 55px;
            font-weight: 700;
            margin: 20px 0;
        }
        .button {
            @include button;
            padding-left: 30px;
            padding-right: 30px;
        }
        &:last-of-type {
                margin-right: 0;
            }
        }
    }
    .triangle {
            position: absolute;
            bottom: 0px;
            width: 100%;
            &:after {
                @include triangleR;
                border-color: $green transparent transparent transparent;
            }
            &:before {
                @include triangleL;
                border-color: $green2 transparent transparent transparent;
            }
        }
}
//██████████ PORTFOLIO ██████████//
.portfolio {
    padding-top: 75px;
    padding-bottom: 100px;
    color: $fontLight;
    text-align: center;
    .description {
        &:after {
            border-bottom: 1px solid #494949;
        }
    }
    .portfolioNav {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        ul {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            li {
                display: inline-block;
                padding-right: 40px;
                &:last-child {
                    padding: 0;
                }
            }
        }
    }
    .flex {
        flex-flow: row;
        flex-wrap: wrap;
        margin-bottom: 40px;
        .portfolioPiece {
            flex-grow: 1;
            background: $white;
            width: 25%;
            .portfolioDesc {
                font-weight: 700;
                font-size: 12px;
                color: $lightGrey;
                text-transform: uppercase;
                padding: 25px 0;
            }
        }
    }
    .button {
        width: 170px;
        color: $white;
        text-align: center;
        &:hover {
            color: $lightGrey;
        }
    }
    
}
//██████████ BLOG ██████████//
.blog {
    background: $darkGrey;
    color: $fontLight;
    padding: 100px 0;
    text-align: center;
    .description {
        &:after {
            border-bottom: 1px solid #494949;
        }
    }
    .blogRoll {
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: calc(50% - 15px) calc(50% - 15px);
        grid-template-areas: "post1 post2" "post1 post3";
        grid-gap: 30px;
        .blogPost {
            background: $lightGrey;
            img {
            }
            .blogPostDesc {
                padding: 0 30px;
                h4 {
                    margin-top: 30px;
                }
                .blogTimeStamp {
                    text-transform: uppercase;
                    font-family: $openSans;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 24px;
                    color: $white;
                }
                .blogPostSummary {
                    font-size: 16px;
                }
                .threeSocial {
                    padding-bottom: 0;
                }
            }
            &:first-child {
                flex-grow: 2;
                grid-area: post1;
                border-bottom: solid 10px $yellow;
            }
            &:nth-child(2) {
                border-right: solid 10px $red;
                margin-right: 0;
                grid-area: post2;
                img {
                    float: left;
                    width: 50%;
                    margin-bottom: 0;
                }
                .blogPostDesc {
                    float: right;
                    width: 50%;
                }
            }
            &:last-child {
                border-right: solid 10px $green;
                margin-right: 0;
                grid-area: post3;
                img {
                    float: left;
                    width: 50%;
                    margin-bottom: 0;
                }
                .blogPostDesc {
                    float: right;
                    width: 50%;
                }
            }
        }
    }
    .button {
        color: $white;
        max-width: 170px;
        width: 100%;
    }
}
